[submodule "lib/spdlog"]
	path = lib/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "lib/msgpack-c"]
	path = example/lib/msgpack-c
	url = git@github.com:msgpack/msgpack-c.git
[submodule "example/lib/libzmq"]
	path = example/lib/libzmq
	url = git@github.com:zeromq/libzmq.git
